* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;    
}
body{
    background-image: url(images/tlo1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top: 20%;
    left: 5%;
    height: 100%;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.center{
    position: absolute;
    left: 2%;
    top: 5%;
}
.click__zakiety img{
    position: fixed;
    top: 5%;
    left: 3%;
    width: 250px;
    transition: all 0.3s ease;
}
.click__zakiety img:hover{
    color: #6d6d6d;
    filter: brightness(0.5);
}
#click{
    display: none;
}
.click__zakiety{
    cursor: pointer;
}

.content_modal{
    position: fixed; 
    color:#131311;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    opacity: 0;
    visibility: hidden;
    width: 80%;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    z-index: 10; 
}
#click:checked ~ .content_modal{
    opacity: 1;
    visibility: visible;
}
.header_modal img{
    position: absolute;
    top: 12%;
    left: 52%;
    color: #131311;
    height: 520px;
    width: 520px;
    border-radius: 5px;
}
.header_modal h1{
    position: absolute;
    top: 30%;
    left: 10%;
    line-height: 1.5;
    font-size: 2em;
    font-family: 'moleregular', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.akwarium{
    margin-left: 5%;
    font-family: 'moleregular', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
.header_modal p {
    position: absolute;
    top:48%;
    left: 20%;
}
.header_modal button  {
        position: absolute;
        font-size: 0.9rem;
        top: 55%;
        left: 21.5%;
        width: 80px;
        height: 50px;
        background-color: #fff;
        border: 2px solid black; 
        border-radius: 5px; 
        transition: 0.5s ease;
    }
.header_modal button:hover{
    background-color: #131311;
    border: 2px solid black; 
    color:#fff;
}
.close img{
    position: absolute;
    height: 20px;
    width: 20px;
    top:3%;
    left:2%;
    cursor: pointer;
}

.navbar a{
    display: block;
    font-size: 1rem;
    margin-top: 10%;
    margin-bottom: 5%;
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    transition: all 0.3s ease;
}
.navbar a:hover{
    color: #6d6d6d;
}
.icons{
    position: absolute;
    top: -18%;
    width: 200px;
    height: 200px;
    right: -95%;
    cursor: pointer;
    display: none;
}
.navbar img{
    width: 16px;
    height: 16px;
    transition: all 0.3s ease;
}
.navbar img:hover{
    color: #6d6d6d;
    filter: brightness(0.5);
}
.social__links{
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-right: 50%;
    gap: 10%;

}

#check{
    display: none;
}
@media only screen and (max-width: 380px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 768px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 90px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 150px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -26%;
        left: -4%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        margin-right: 65%;
        margin-top: -2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    .navbar img{
        width: 16px;
        height: 16px;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-left: 16%;
        margin-right: 78%;
    }
} 
@media only screen and (min-width: 381px) and (max-width: 390px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 768px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 90px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 150px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -26%;
        left: -4%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1.1rem;
        align-items: center;
        justify-content: center;
        margin-right: 63%;
        margin-top: -2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    img.left{
        margin-top: 2%;
        margin-left: 5%;
    }
    .navbar img{
        width: 20px;
        height: 20px;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-left: 17%;
        margin-right: 77%;
    }
} 
@media only screen and (min-width: 391px) and (max-width: 414px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 900px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 90px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 150px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -26%;
        left: -5%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        margin-right: 65%;
        margin-top: -2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    img.left{
        margin-top: 2%;
        margin-left: 5.5%;
    }
    .navbar img{
        width: 20px;
        height: 20px;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-left: 16%;
        margin-right: 78%;
    }
} 
@media only screen and (min-width: 415px) and (max-width: 430px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 900px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 90px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 150px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -26%;
        left: -5%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        margin-right: 63%;
        margin-top: -2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    img.left{
        margin-top: 2%;
        margin-left: 5.5%;
    }
    .navbar img{
        width: 20px;
        height: 20px;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-left: 17%;
        margin-right: 77%;
    }
} 
@media only screen and (min-width: 431px) and (max-width: 800px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 900px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 110px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 180px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -24%;
        left: -5%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 2rem;
        align-items: center;
        justify-content: center;
        margin-right: 40%;
        margin-top: -1%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    .navbar img{
        width: 28px;
        height: 28px;
        margin-left: 10%;
        margin-right: -30%;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }

    .social__links{
        margin-left: 25%; 
        margin-right: 59%;
    
    }
} 
@media only screen and (width: 540px) and (height: 720px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 540px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 200px;
        height: 200px;
        top: -17%;
        left: calc(100vw - 110px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 180px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -22%;
        left: -5%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1.3rem;
        align-items: center;
        justify-content: center;
        margin-right: 31%;
        margin-top: 2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    .navbar img{
        width: 20px;
        height: 20px;
        margin-left: 5%;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-top: 11%;
        margin-left: 27%; 
        margin-right: 52%;
    
    }
} 
@media only screen and (width: 280px) and (height: 653px){
    .header{
        position: fixed;
        top: 20%;
        height: 100%;
        width: 280px;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .icons{
        position: absolute;
        width: 120px;
        height: 120px;
        top: -17%;
        left: calc(100vw - 80px); 
        z-index: 100;
        display: block;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .zakiety__img{
        position: fixed;
        top: 4%;
        left: 3%;
        width: 120px;
        transition: all 0.1s ease;
        z-index: 100;
    }
    .space{
        margin-top: 20%;
    }
    .navbar {
        position: absolute;
        top: -15%;
        left: -5%;
        width: 150%;
        height:0;
        background: #131311;
        overflow: hidden;
        transition: all 0.3s ease;
}
    #check:checked~.navbar{
        height:110%;
    }
    .navbar a {
        display: flex;
        font-size: 1rem;
        align-items: center;
        justify-content: center;
        margin-right: 33%;
        margin-top: 2%;
        opacity: 0;
        transition: all 0.3s ease;
    
    }
    #check:checked~.navbar a{
        transform: translateY(0);
        transition-delay: calc(.15s * var(--i));
        opacity: 1;
    }
    #check:checked~.navbar img{
        transform: translateY(0);
        transition-delay: calc(.15s * var(i));
        opacity: 1;
    }
    img.left{
        margin-top: 5%;
        margin-left: 15%;
    }
    .navbar img{
        width: 16px;
        height: 16px;
        margin-left: 4.7%;
        transform: translateY(-50px);
        opacity: 0;
        transition: all 0.3s ease;
    }
    .social__links{
        margin-top: 11%;
        margin-left: 27%; 
        margin-right: 52%;
    
    }
} 
