* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;    
}
.header{
    background-image: url(images/tlo1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.navbar{
    position: fixed;
    top: 20%;
    left: 3%;
    height: 100%;
    width: 250px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.zakiety__img{
    position: fixed;
    top: 5%;
    left: 3%;
    width: 250px;
}
.zakiety__img:hover{
    color: #6d6d6d;
    filter: brightness(0.5);
}
.navbar li a {
    color: white;
    cursor: pointer;
    transition: color 0.3s;
}
.navbar li {
    font-size: 18px;
    list-style: none;
    padding-left: 10%;
    margin-top: 5%;
}
.navbar a{
    margin-top: 5%;
    text-decoration: none;
}
.navbar li a:hover{
    color:#6d6d6d;
}
.social__media{
    position: fixed;
    width: 15%;
    margin-top: 1%;
    margin-left: 1%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.social__media img{
    margin-left: 3%;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.social__media img:hover{
    color: #6d6d6d;
    filter: brightness(0.5);
}

.icons{
    position: absolute;
    width: 200px;
    height: 200px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/*  Mobile menu */
@media screen and (max-width: 768px) {
    .header{
        background: #131313;
    }
    .zakiety__img{
        position: fixed;
        top: 3%;
        left: 3%;
        width: 170px;
    }
    .icons{
        display: block;
        margin-left: 80%;
        margin-top: -25%;
    }
    #check:checked~.icons #menu-icon{
        display: none;
    }
    .icons #close-icon{
        display: none;
    }
    #check:checked~.icons #close-icon{
        display: block;
    }
    .navbar{
        position: fixed;
        top:15%;
        left: 0;
        width: 100%;
        height: 17.7rem;
    }
    .navbar ul li a {
        display: flex;
        justify-content: center; 
        align-items: center; 
        height: 100%; 
        width: 100%; 
        margin-left: -5%;
    }
    .social__media{
        position: fixed;
        width: 50%;
        margin-top: 5%;
        margin-left: 24%;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .social__media img{
        margin-left: 7%;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}